{% extends "base2.html" %}

{% block title %}index{% endblock %}

{% block head %}
  {{ super() }}
  <style>
  </style>
{% endblock %}

{% block content %}

   <p>Lorem ipsum dolor sit amet. Vel tempora soluta <strong>Aut illum ad soluta sunt non internos quaerat</strong>
     rem nostrum cumque ut quasi quisquam. Aut laudantium iste sit inventore repellatEt necessitatibus
     quo enim itaque quo aliquid deserunt. At sequi distinctio vel quibusdam accusantiumet quos.
     Eum dolores voluptate ut tempora porroEos quisquam et accusamus dolor est dignissimos quis ea porro
     illum est perspiciatis praesentium.
   </p>

{% endblock %}

{% block body %}
  {{ super() }}
{% endblock %}