{% extends "base2.html" %}

{% block title %}Pagina {{num}} {% endblock %}

{% block head %}
  {{ super() }}
  <style></style>
{% endblock %}

{% block content %}
  <h2>Pagina {{num}}</h2>
<p>Contenuto personalizzato</p>
<p>Lorem ipsum dolor sit amet. Vel tempora soluta <strong>Aut illum ad soluta sunt non internos quaerat</strong>
  rem nostrum cumque ut quasi quisquam. Aut laudantium iste sit inventore repellatEt necessitatibus
  quo enim itaque quo aliquid deserunt. At sequi distinctio vel quibusdam accusantiumet quos.
  Eum dolores voluptate ut tempora porroEos quisquam et accusamus dolor est dignissimos quis ea porro
  illum est perspiciatis praesentium.
</p>
<p>Ut esse vitae <strong>Est consequuntur aut impedit culpa At maxime quae et galisum obcaecati</strong>?
  33 iste minus <em>Et tempora et consequuntur dolores et nihil neque</em> et eaque vero non incidunt
  tenetur. Ut quidem dolores id saepe excepturiAt natus id vitae beatae nam temporibus consectetur.
</p>
<ul>
  <li>Ut consequatur tempore qui ipsam natus sit explicabo temporibus. </li>
  <li>Ut dolor fugit quo sunt facilis est facilis illo non corrupti consequatur? </li>
</ul>
{% endblock %}

{% block body %}
  {{ super() }}
{% endblock %}