{% extends "base1.html" %}

{% block title %}index{% endblock %}

{% block head %}
  {{ super() }}
  <style>
  </style>
{% endblock %}

{% block content %}

    <form class="w3-content w3-border w3-padding-large w3-margin-top" style="max-width:450px;" method="post">
        <!--h2 class="w3-indigo w3-center">Registrati all'applicazione </h2-->
        <label for="username">Utente</label>
        <input class="w3-input"
            type="text"
            name="username"
            value="{{ request.form['username'] }}">
        <label>Password</label>
        <input class="w3-input"
            type="password"
            name="password">
        <label>Ripeti Password</label>
        <input class="w3-input"
            type="password"
            name="password2">
        <p>
            <button class="w3-button w3-indigo" type="submit">Invia</button>
        </p>

        {% for message in get_flashed_messages() %}
        <div class="w3-panel w3-padding-large w3-center w3-pale-red">{{ message }}</div>
        {% endfor %}
    </form>
<!--    {% for message in get_flashed_messages() %}
        <div class="w3-content w3-padding-large w3-center w3-panel w3-red" style="max-width:450px;">{{ message }}</div>
    {% endfor %}
-->
{% endblock %}

{% block body %}
  {{ super() }}
{% endblock %}